In [ ]:
import pandas as pd
df_train = pd.read_csv("train.csv")

In [ ]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
print(df_train['SalePrice'].describe())

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [ ]:
X = df_train[['GrLivArea','BsmtFullBath','BsmtHalfBath', 'BedroomAbvGr', 'FullBath', 'HalfBath']]
y = df_train['SalePrice']

In [122]:
#without StandardScaler()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


# Split the data into training and testi5ng sets #2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

# Create an instance of the LinearRegression class and fit the training data
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the prices of houses in the test set
y_pred = model.predict(X_test)
# Evaluate the performance of the model
print('Mean squared error: %.2f' % mean_squared_error(y_test, y_pred))
print('Coefficient of determination: %.2f' % r2_score(y_test, y_pred))

Mean squared error: 2111995428.60
Coefficient of determination: 0.68

In [123]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Create a DataFrame with the new data and feature names
new_data = pd.DataFrame([[912, 1, 0, 2, 1, 0]], columns=['GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'BedroomAbvGr', 'FullBath', 'HalfBath'])


# Make a prediction with the scaled new data
predicted_price = model.predict(new_data)
print("predicted_price %.2f"% predicted_price)

predicted_price 137774.27